# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# pubspec.lock
# The pubspec.lock file is a special case, similar to Ruby's Gemfile.lock.
#
# For regular packages, don't commit the pubspec.lock file. Regenerating the pubspec.lock file
# lets you test your package against the latest compatible versions of its dependencies.
#
# For application packages, we recommend that you commit the pubspec.lock file. Versioning the 
# pubspec.lock file ensures changes to transitive dependencies are explicit. Each time the 
# dependencies change due to dart pub upgrade or a change in pubspec.yaml the difference will be apparent in the lock file.
pubspec.lock
